<!DOCTYPE html>
<html> 
    <head>
        <title>Types of college degrees for kids before they go to college</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id ="Introduction">
            <h1>Chapter 1: Introduction about me</h1>
          <p>Hello. My name is Tintin. I'm a 10-year-old American-born Vietnamese student. I'm currently learning at an international school (Royal School) in Ho Chi Minh City</p>
        </div>
        <h1>Chapter 2: Types of College Degrees</h1>
        <div id="Degrees">
            <img src="{{ url_for('static', filename='images/degree_types.jpg') }}" alt="Degrees">
            <img src="{{ url_for('static', filename='images/Types-Of-College-Degrees-1 (1).png') }}" alt="Degrees">
        </div>
        
    </body>
</html>